*.swp
package-lock.json
.pytest_cache
*.egg-info
*/.DS_store
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
*.json.env

# CDK Context & Staging files
.cdk.staging/
cdk.out/

# IDE
.vscode/
node_modules
